/* style.css */
body {
    background-color: #1a1a1a;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#game-ui {
    background: #333;
    padding: 10px;
    z-index: 100;
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 2px solid #444;
}

#board-container {
    flex: 1; /* Prend tout l'espace restant sous le menu */
    width: 100vw; /* Toute la largeur */
    height: calc(100vh - 100px); /* Toute la hauteur moins le menu du haut */
    overflow: auto; 
    position: relative;
}

#board {
    display: grid;
    /* On crée une grille de 100x100 cases de 104px */
    grid-template-columns: repeat(100, 104px);
    grid-template-rows: repeat(100, 104px);
    width: 10400px; /* 100 cases * 104px */
    height: 10400px;
}

.tile {
    width: 104px;
    height: 104px;
    object-fit: contain;
}

#tile-preview img {
    width: 80px;
    border: 2px solid gold;
}

