body {
    background-color: #2c3e50;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#tile-preview img {
    width: 104px;
    height: 104px;
    border: 2px solid gold;
    transition: transform 0.3s ease; /* Animation fluide quand on tourne */
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 104px); /* Grille temporaire */
    gap: 2px;
    margin-top: 20px;
    background-color: #34495e;
    padding: 10px;
}