/* style.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1a1a1a;
    overflow: hidden; /* Empêche le rebond du scroll sur mobile/mac */
}

body {
    display: flex;
    flex-direction: column; /* Interface en haut, Plateau en bas */
}

#game-ui {
    height: 120px; /* Taille fixe pour l'interface */
    background-color: #2c3e50; /* Bleu nuit pour bien le différencier */
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    border-bottom: 3px solid #000;
    z-index: 10;
}

#board-container {
    flex: 1; /* Prend tout le reste de l'écran */
    overflow: auto;
    background-color: #1a1a1a;
}

#board {
    display: grid;
    /* On définit 100 colonnes et lignes de 104px */
    grid-template-columns: repeat(100, 104px);
    grid-template-rows: repeat(100, 104px);
    width: 10400px;
    height: 10400px;
    background-image: radial-gradient(#333 2px, transparent 2px);
    background-size: 104px 104px;
}

/* Les tuiles posées */
.tile {
    width: 104px;
    height: 104px;
}

/* Les zones cliquables */
.slot {
    width: 94px;
    height: 94px;
    border: 2px dashed #555;
    margin: 3px;
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.slot:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #f1c40f;
}

#tile-preview img {
    height: 90px;
    border: 2px solid #f1c40f;
}
