/* style.css */
body {
    background-color: #1a1a1a; /* Fond très sombre */
    color: white;
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#game-ui {
    background: #2a2a2a;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 2px solid #444;
    z-index: 100;
}

#board-container {
    flex: 1;
    overflow: auto;
    background-color: #1a1a1a;
}

#board {
    display: grid;
    /* 100 colonnes de 104px */
    grid-template-columns: repeat(100, 104px);
    grid-template-rows: repeat(100, 104px);
    width: 10400px;
    height: 10400px;
    background-image: radial-gradient(#333 2px, transparent 2px);
    background-size: 104px 104px; /* Aligné sur la taille des tuiles */
}

.tile {
    width: 104px;
    height: 104px;
    display: block;
}

/* Style des zones cliquables (Slots) */
.slot {
    width: 90px;  /* Légèrement plus petit pour l'esthétique */
    height: 90px;
    border: 2px dashed #555;
    margin: 5px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.2s;
}

.slot:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: gold;
}

#tile-preview img {
    width: 80px;
    height: 80px;
    border: 2px solid gold;
}
